h1 {
    height: 105px;
    top: 232px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
}

h1 span:nth-child(1) {
    color: #4285F4;
}

h1 span:nth-child(2) {
    color: #EA4335;
}

h1 span:nth-child(3) {
    color: #FCC629;
}

h1 span:nth-child(4) {
    color: #4285F4;
}

h1 span:nth-child(5) {
    color: #34A853;
}

h1 span:nth-child(6) {
    color: #EA4335;
}

input {

    display: block;
    margin: 0 auto;
    width: 616px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
}

button {
    background: #F8F9FA;
    border: 1px solid #F8F9FA;
    border-radius: 4px;
}

.buttons {
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 0px;
}

.buttons button:nth-child(1) {
    width: 111px;
    height: 36px;
    left: 471px;
    top: 430px;
    margin-right: 4px;
}

.buttons button:nth-child(2) {
    width: 143px;
    height: 36px;
    left: 586px;
    top: 429px;
}
