@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lora&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lora&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #c6bfca;
}

nav {
    position: relative;
    width: 100%;
    height: 41px;
    left: 20px;
    top: 25px;
}

.header_pknu {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-decoration: none;
    color: #444444;
}

nav ul {
    list-style:none;
    float: right;
    padding-top: 7px;
}

nav ul li {
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding-right: 20px;
    float: left;
}

nav ul li a {
    color: #444444;
    text-decoration: none;
}

.reser {
    color: #FF9907;
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.banner {
    position: relative;
    margin-left: 20px;
    margin-top: 58px;
    height: 550px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/banner.jpg) no-repeat center/cover;
}

.banner_univer {
    position: absolute;
    width: 434px;
    height: 37px;
    left: 40%;
    right: auto;
    top: 136px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    text-align: center;

    color: #FFFFFF;
}

.banner_title {
    position: absolute;
    width: 328px;
    height: 58px;
    left: 47%;
    right: auto;
    top: 173px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;

    color: #FFFFFF;
}

.banner_txt {
    position: absolute;
    width: 700px;
    height: 184px;
    left: 40%;
    right: auto;
    top: 250px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #FFFFFF;
}

div.gallary-list img {
    width: 100%;
    height: auto;
}

div.desc {
    position: relative;
    width: 100%;
    height: auto;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

    color: #212529;
}

div.desc_ {
    position: relative;
    width: 100%;
    height: 40px;
    padding-top: 15px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #666666;
}

.main-gallary {
    position: relative;
    top: 29px;
    width: 100%;
    height: auto;
    
    padding-left: 20px;
    padding-bottom: 5%;
    float: left;
    width: 33.3%;
}

footer {
    position : absolute;
    width: 100%;
    top: 2200px;
    bottom: 0;
}

.rec {
    width: 100%;
    height: 57px;
    
    background: #333333;
}

.rec_txt {
    height: 20px;
    text-align: center;
    padding-top: 18px;
    
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #C9C9C9;
}

@media only screen and (max-width: 1100px) {
    .banner {
        width: 1060px;
        height: 500px;
    }
    .banner_univer {
        position: absolute;
        width: 434px;
        height: 37px;
        left: 333px;
        top: 136px;
    
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 35px;
        text-align: center;
    
        color: #FFFFFF;
    }
    
    .banner_title {
        position: absolute;
        width: 328px;
        height: 58px;
        left: 450px;
        top: 173px;
    
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
    
        color: #FFFFFF;
    }
    
    .banner_txt {
        position: absolute;
        width: 967px;
        height: 184px;
        left: 310px;
        top: 250px;
    
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
    
        color: #FFFFFF;
    }
    footer {
        position : absolute;
        width: 100%;
        top: 1400px;
        bottom: 0;
    }
    
    .rec {
        width: 100%;
        height: 57px;
        
        background: #333333;
    }
    
    .rec_txt {
        height: 20px;
        text-align: center;
        padding-top: 18px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        
        color: #C9C9C9;
    }
}

@media only screen and (max-width: 797px) {
    .main-gallary {
        width: 48%;
        margin: 0 6px;
    }
    .banner {
        width: 760px;
        height: 500px;
    }
    .banner_title {
        position: absolute;
        width: 528.7px;
        height: 58px;
        left: 135px;
        top: 150px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;        
    }
    .banner_txt {
        position: absolute;
        width: 598px;
        height: 234px;
        left: 30%;
        top: 230px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        
        color: #FFFFFF;
    }
    .banner_univer {
        position: absolute;
        width: 437px;
        height: 35px;
        left: 180px;
        top: 120px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 35px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;
    }
    footer {
        position : absolute;
        width: 100%;
        top: 1700px;
        bottom: 0;
    }
    
    .rec {
        width: 100%;
        height: 57px;
        
        background: #333333;
    }
    
    .rec_txt {
        height: 20px;
        text-align: center;
        padding-top: 18px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        
        color: #C9C9C9;
    }
}

@media only screen and (max-width: 698px) {
    .main-gallary {
        width: 100%;
    }
    .banner {
        width: 640px;
        height: 350px;
    }
    .banner_title {
        position: absolute;
        width: 328px;
        height: 58px;
        left: 25%;
        top: 105px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;
    }
    .banner_univer {
        position: absolute;
        width: 330px;
        height: 31px;
        left: 25%;
        top: 75px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        /* identical to box height */
        
        text-align: center;
        
        color: #FFFFFF;        
    }

    .banner_txt {
        position: absolute;
        width: 479px;
        height: 180px;
        left: 28%;
        top: 180px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        
        color: #FFFFFF;        
    }
    nav ul li a{
        display: none;
    }

    .hamburger {
        position: absolute;
        width: 40px;
        height: 20px;
        left: 600px;
        top: 35px;
    }

    .burger_item1 {    
        position: absolute;
        width: 40px;
        border: 5px solid #444444;
    }
    .burger_item2 {    
        position: absolute;
        width: 40px;
        top: 15px;
        border: 5px solid #444444;
    }
    .burger_item3 {
        position: absolute;
        width: 40px;
        top: 30px;
        border: 5px solid #444444;        
    }

    .hamburger:hover .burger_item1 {
        transform: translateY(15px) rotate(45deg);
    }
    
    .hamburger:hover .burger_item2 {
        opacity: 0;
    }
    
    .hamburger:hover .burger_item3 {
        transform: translateY(-15px) rotate(-45deg);
    }
    footer {
        position : absolute;
        width: 100%;
        top: 3600px;
        bottom: 0;
    }
    
    .rec {
        width: 100%;
        height: 57px;
        
        background: #333333;
    }
    
    .rec_txt {
        height: 20px;
        text-align: center;
        padding-top: 18px;
        
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        
        color: #C9C9C9;
    }


}

button {
    margin: 20px;
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: 600;
}

button:hover {
    background-color: #ca70d4;
}

form {
    width: 400px;
    padding: 100px 25px 120px;
    margin: 100px auto;
    background: #6c4774;
    display: flex;
    flex-direction: column;
}

svg {
    width: 70%;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 40px;
    align-self: center;
    transform-style: preserve-3d;
}

input {
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 10px 15px;
    margin-top: 15px;
}

@keyframes lookaway-up {
    from {
        transform: rotate3d(.2, 0, -.01, 20deg);
    }

    to {
        transform: rotate3d(.2, -.05, -.01, 20deg);
    }
}

@keyframes lookaway-down {
    0% {
        transform: rotate3d(-.2, 0, -.01, 20deg);
    }

    100% {
        transform: rotate3d(-.2, -.05, .01, 20deg);
    }
}

.ears {
    transform-origin: 50% 50% 5px;
}

.eyes {
    transform-origin: 50% 50% -40px;
}

.muzzle {
    transform-origin: 50% 50% -44px;
}

.ears, .eyes, .muzzle {
    transition: transform .5s;
}

.focused {
    transition: transform .1s;
}

.look-away .ears,
.look-away .eyes,
.look-away .muzzle {
    transition-duration: .3s;
    animation: 3s infinite alternate;
}

.look-away.up .ears,
.look-away.up .eyes,
.look-away.up .muzzle {
    transform: rotate3d(.2, 0, 0, 20deg) !important;
}

.look-away.down .ears,
.look-away.down .eyes,
.look-away.down .muzzle {
    transform: rotate3d(-.2, 0, 0, 20deg) !important;    
}

.look-away.playing.up .ears,
.look-away.playing.up .eyes,
.look-away.playing.up .muzzle {
    animation-name: lookaway-up;
}

.look-away.playing.down .ears,
.look-away.playing.down .eyes,
.look-away.playing.down .muzzle {
    animation-name: lookaway-down;
}